<div class="row">
    <div class="col-md-12">
        <h2>Conference Chairs</h2>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/changjun.png" width="100px" height="140px" >
            </div>
            <h4>Changjun Jiang (Tongji University, China), Honorary General Chair</h4>
            <p>
                Prof. Changjun Jiang, Academician of China Academy of
                Engineering, IET Fellow, former vice president of Tongji University. He established
                the theory of concurrent system behavior, which overcame the major technical
                problem of instantaneous accurate identification of transaction risk prevention and
                control, presided over the establishment of the first network transaction risk prevention
                and control system, system and standard in China, and applied it to many fields such
                as network economy and digital governance. As the project leader, he has undertaken
                more than 50 national natural science funds, 973 plans, 863 plans and international
                key cooperation projects. In 2017, he won the National Science and Technology
                Progress Award.
            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/guihai.png" width="100px" >
            </div>
            <h4>Guihai Chen (Shanghai Jiao Tong University, China), General Chair</h4>
            <p>
                Prof. Guihai Chen, Professor at SJTU, IEEE Fellow, CCF Fellow,
                Honorary Head of Technical Committee on Distributed Computing and Systems (CCF TCDCS),
                Winner of National Science Fund for Distinguished Young Scholars. His
                main research direction is distributed network and data processing, including future
                network system and protocol, wireless network structure and optimization, Internet of
                Things and sensor network, new computer architecture, data center core technology,
                data analysis and processing, etc. He published more than 700 papers. Google Scholar cited more than 20,000 times,
                and the highest citation of a single paper was more than 1,500 times.
            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/xiaofeng.png" width="100px" >
            </div>
            <h4>Xiaofeng Gao (Shanghai Jiao Tong University, China), TPC Co-Chairs</h4>
            <p>
                Xiaofeng Gao is a Professor at the Department of Computer Science and Engineering,
                Shanghai Jiao Tong University, China. She received the B.S. degree in information and computational
                science from Nankai University, China; the M.S. degree in operations research and control theory from
                Tsinghua University, China; and the Ph.D. degree in computer science from The University of Texas at
                Dallas, USA. Her research interests include data engineering and combinatorial optimizations.
                She has published more than 200 peer-reviewed papers in the related area, including in well-archived
                international journals such as IEEE TKDE, IEEE TMC, ACM/IEEE TON, IEEE TC, IEEE TPDS, IEEE JSAC,
                and also in well-known conference proceedings such as SIGKDD, SIGIR, ICDE, ICDM, WWW, NeurIPS, IJCAI,
                AAAI, ICML, INFOCOM. Her research interests include data engineering and network optimization.
                She is an IEEE/ACM Senior Member and CCF Distinguished Member.
            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/xiaoming.png" width="100px" >
            </div>
            <h4>Xiaoming Sun (Chinese Academy of Sciences, China), TPC Co-Chairs</h4>
            <p>
                Xiaoming Sun, Researcher at Chinese Academy of Sciences, Yangtze River
                scholars of the Ministry of Education, Head of Technical Committee on Theoretical
                Computer Science (CCF TCS). His research includes Quantum computing,
                Algorithm complexity,Social network approximation algorithm, Communication
                complexity, Decision tree complexity, and combinatorial mathematics. He has
                presided over the key projects of the National Natural Science Foundation, the
                outstanding youth science fund projects of the National Natural Science Foundation
                and other projects.

            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/yongtang.png" width="100px" >
            </div>
            <h4>Yongtang Shi (Nankai University, China), Vice TPC Chair</h4>
            <p>
                Yongtang Shi, Professor at Nankai University, Winner of National
                Science Fund for Distinguished Young Scholars. He is Secretary-General of Tianjin
                Institute of Industrial and Applied Mathematics, Director of China Logistics Society,
                Deputy Director of Propaganda Committee, Standing Director of Graph Theory
                Combination Branch, and Standing Committee Member of Graph Theory
                Combination and Its Application Committee of China Institute of Industrial and
                Applied Mathematics. His main research interests are graph theory and discrete
                optimization, and he has published more than 60 high-level academic papers.

            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/zhipeng.png" width="100px" >
            </div>
            <h4>Zhipeng Cai (Georgia State University, USA), Publicity Co-Chair</h4>
            <p>
                Zhipeng Cai, Professor at Georgia State University, IEEE Fellow. Dr. Cai's research expertise lies
                in the areas of Resource Management and Scheduing, High Performance
                Computing, Cyber-Security, Privacy, Networking, and Big Data. His research has
                received funding from multiple academic and industrial sponsors, including the
                National Science Foundation and the U.S. Department of State, and has resulted in
                over 100 publications in top journals and conferences, with more than 14,000
                citations, including over 80 IEEE/ACM Transactions papers. He is a Steering
                Committee member for COCOON.
            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/zhaozhang.png" width="100px" >
            </div>
            <h4>Zhao Zhang (Zhejiang Normal University, China), Publicity Co-Chair</h4>
            <p>
                Zhao Zhang (Member, IEEE) received the Ph.D. from Xinjiang University in 2003. She worked in Xinjiang
                University from 1999 to 2014, and now is a Professor in the College of Mathematics and Computer Science,
                Zhejiang Normal University.,Her main interest is in combinatorial optimization, especially approximation
                algorithms for NP-hard problems which have their background in networks.
            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/zhiyi.png" width="100px" >
            </div>
            <h4>Zhiyi Huang (University of Hong Kong, China), Publicity Co-Chair</h4>
            <p>
                Zhiyi Huang, Associate Professor at University of Hong Kong. He works broadly on
                theoretical computer science. He was the recipient of the Best Paper Awards of
                FOCS 2020 and SPAA 2015, an Excellent Young Scientists Fund (HK & Macau) by
                NSFC, an Early Career Award by RGC Hong Kong, a Morris and Dorothy Rubinoff
                Dissertation Award, and a Simons Graduate Fellowship in Theoretical Computer
                Science.
            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/nick.png" width="100px" >
            </div>
            <h4>Nick Gravin (Shanghai University of Finance and Economics, China), Web Chair</h4>
            <p>
                Nick Gravin, Professor at Shanghai University of Finance and
                Economics. His research includes Algorithmic Game Theory, Computational
                learning, and Combinatorics and Geometry. He published plenty of papers at
                top conference in TCS like SODA/STOC/FOCS. He was a PC chair of WINE
                2020 (Conference on Web and Internet Economics) at Peking University.

            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/yong.png" width="100px" >
            </div>
            <h4>Yong Chen (Hangzhou Dianzi University, China), Publication Co-Chair</h4>
            <p>
                Yong Chen, Professor at Hangzhou Dianzi University. His research interests are
                discrete optimization problems in applied mathematics, computer science and
                management science (including graph theory and network optimization,
                sequencing and other combinatorial optimization problems), with emphasis on
                algorithm design and analysis for the above operational optimization problems.
                He has published more than 30 high-level SCI journal papers and international
                conference papers on algorithm theory, presided over 3 national natural science
                foundations, and participated in many scientific research projects at or above the
                provincial and ministerial levels. He is TPC member of COCOON 2019, COCOA
                2018 and COCOA 2020.

            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/an.png" width="100px" >
            </div>
            <h4>An Zhang (Hangzhou Dianzi University, China), Publication Co-Chair</h4>
            <p>
                An Zhang, Professor at Hangzhou Dianzi University, commissioner of Scheduling
                Society of Operations Research Society of China. His main research interests are
                mathematical modeling and approximation algorithms for graph and network,
                sequencing and related combinatorial optimization problems. The research results
                have won the second prize of outstanding scientific research achievements in
                colleges and universities in Zhejiang Province. For a long time, he has been an
                expert in reviewing mainstream publications of operational research such as
                EJOR, JOS, IJPE, JORS, TCS, and participated in the compilation of the portfolio
                optimization series Handbook of Combinatorial Optimization.

            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/jianxiong.png" width="100px" >
            </div>
            <h4>Jianxiong Guo (Beijing Normal University, China), Financial Chair</h4>
            <p>
                Jianxiong Guo, Assistant Professor at Beijing Normal
                University, Member of IEEE/ACM/CCF, Associate Head of Engineering
                Research Center of Cloud-Edge Intelligent Collaboration on Big Data, Ministry
                of Education. His research includes Social Networks, IoT/Edge Computing,
                Combinatorial Optimization, and Machine Learning. He has published more
                than 60 international journals/conferences like IEEE/ACM TON, IEEE TMC,
                IEEE TSMC, ACM TKDD, TCS, IEEE TNSE, IEEE TCC, IEEE TCSS and so
                on. He is TPC member of COCOON 2023 and TPC chair of COCOA 2023.

            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/yuhao.png" width="100px" >
            </div>
            <h4>Yuhao Zhang (Shanghai Jiao Tong University, China), Local Chair</h4>
            <p>
                Yuhao Zhang, Assistant Professor at SJTU, Winner of National
                Science Fund for Execellent Young Scholars (Overseas). His research interest
                is in Algorithms and Approximation Algorithms, aiming to design algorithms for
                real-world applications with a provable guarantee and to develop general
                mathematical tools in their performance analysis. He published plenty of papers
                at top conference in TCS like ESA/FOCS/ICML/STOC.

            </p>
        </div>

    </div>
</div>
</div>
