<h2>Organizing Committee</h2>
<ul>
    <li>
        <h5>Honorary General Chair:</h5>
        <ul>
            <li><a target="_blank" href="">Changjun Jiang</a> (Academician of Chinese Academy of Engineering)
            </li>
        </ul>
    </li>
    <li>
        <h5>General Chair:</h5>
        <ul>
            <li><a target="_blank" href="">Guihai Chen</a> (Distinguished Professor of SJTU; IEEE Fellow; CCF Fellow)
            </li>
        </ul>
    </li>
    <li>
        <h5>TPC Co-Chairs:</h5>
        <ul>
            <li><a target="_blank" href="">Xiaofeng Gao</a> (Professor of SJTU,
                Distinguished Member of CCF, TPC Chair of COCOA2017)
            </li>
            <li><a target="_blank" href="">Xiaoming Sun</a> (
                Professor of Institute of Computing Technology of the Chinese Academy of Sciences,
                Director of CCF Theoretical Computer Science Committee, Distinguished Member of CCF)
            </li>
        </ul>
    </li>
    <li>
        <h5>Vice TPC Chair:</h5>
        <ul>
            <li><a target="_blank" href="">Yongtang Shi</a>
                (Professor of Nankai University,
                Vice Director of Graph Theory and Combinatorics Society of Operations Research Society of China,
                Excellent Young Scientists Fund by NSFC)
            </li>
        </ul>
    </li>
    <li>
        <h5>Publicity Co-Chairs:</h5>
        <ul>
            <li><a target="_blank" href="">Zhipeng Cai</a>
                (Professor of Georgia State University,
                Steering Committee Co-Chair for the international conferences of COCOON,
                WASA and IPCCC)
            </li>
            <li><a target="_blank" href="">Zhiyi Huang</a>
                (Associate professor of the University of Hong Kong, Best Paper Awards of FOCS 2020 and SPAA 2015,
                Excellent Young Scientists Fund by NSFC)
            </li>
        </ul>
    </li>
    <li>
        <h5>Web Chair:</h5>
        <ul>
            <li><a target="_blank" href="">Nick Gravin</a> (
                Professor of Shanghai University of Finance and Economics, PC chair of WINE2020)
            </li>
        </ul>
    </li>
    <li>
        <h5>Publication Co-Chairs:</h5>
        <ul>
            <li><a target="_blank" href="">Yong Chen</a> (Professor of Hangzhou Dianzi University,
                commissioner of Scheduling Society of Operations Research Society of China,
                Program Committee Member of COCOON2020)
            </li>
            <li><a target="_blank" href="">An Zhang</a> (Professor of Hangzhou Dianzi University,
                commissioner of Scheduling Society of Operations Research Society of China)
            </li>
        </ul>
    </li>
    <li>
        <h5>Financial Chair:</h5>
        <ul>
            <li>Jianxiong Guo (Assistant Professor of Beijing Normal University, PC Chair of COCOA2023)</li>
        </ul>
    </li>
    <li>
        <h5>Local Chair:</h5>
        <ul>
            <li>Yuhao Zhang (Assistant Professor of SJTU, Excellent Young Overseas Scientists Fund by NSFC)</li>
        </ul>
    </li>
</ul>